:root {
  --header-height: 4.5rem;
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;
  --body-font: 'DM Sans', sans-serif;
}

/*========= MEDIA QUERIES =========*/
/* extra large devices: 1200 > */
@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto; 
  }

  .section {
    padding: 10rem 0;
  }

  .section header,
  #testimonials header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    height: 3.125rem;
  }

  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--body-font);
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  nav .icon-menu {
    display: none;
  }

  main {
    margin-top: var(--header-height);
  }

  /* ========================== HOME ========================== */
  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;
  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    max-width: 24rem;
    text-align: left;
  }

  /* ======================== ABOUT ========================= */
  #about .container {
    margin: 0 auto;
    grid-auto-flow: column;
  }

  /* ======================= SERVICES =======================*/
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  /* ====================== TESTIMONIALS ================= */
  #testimonials .container {
    margin-left: auto;
    margin-right: auto;
  }

  /* ====================== CONTACT ====================== */
  #contact .container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  #contact .text {
     max-width: 25rem;
  }

  /* ======================= FOOTER ===================== */
  footer.section {
    padding: 3.75rem 0;
  }
  
  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    font-size: 2.25rem;
  }
}
/* large devices: 1023 > */
/* large devices: 992 > */
@media (min-width: 992px) {
  :root {
    --title-font-size: 2.2rem;
    --subtitle-font-size: 1.125rem;
  }
}
/* medium devices: 767 > */
